html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: 100%;     
}
*{
  box-sizing: border-box;
}

.app-wrapper{
    display: flex;
    height: 100%;
    flex-basis: 100%;
    font-size: 12px;
    flex-direction: column;
    flex-wrap: wrap;
   
}
.header-wrapper{
  display: flex; 
  height: 70px;
  background: #00243d; 
  font-size: 20px;
  color: #fff;
  align-items: center;
  padding: 0 15px 0 15px;
}

.body-wrapper{
  /* height: calc(100% - 70px); */
  height: calc(100% - 110px);
  display: flex;
}

.body-left{
  flex-basis: 65%;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.search-cntr{
display: flex;
flex-direction: column;
}
.search-label{
  color: #66666a;
  font-weight: 600;
  padding-bottom: 5px;
}
.input-cntr{
  display: flex;
}
.search-box{
height: 35px;
width: 300px;
outline: none;
border:1px solid #84869d;
border-radius: 2px;
/* color: gray; */
}
.search-btn{
  height: 35px;
  background-color: #00243d;
  color: #fff;
  width: 75px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}
.btn-cntr{
  padding-left: 10px;
}
.result-wrapper{
  padding-top: 25px;
}
.res-label{
  color: #66666a;
  font-weight: 700;
  padding-bottom: 15px;
}
.result-rpt{
  /* width: 40%; */
  background: #fff;
  font-size: 13px;
  /* padding: 10px 10px; */
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  text-overflow: ellipsis;
  padding-bottom: 15px;
}
.res-link{
  color: #141468;
  /* cursor: pointer; */
}
.body-right{
  display: flex;
  flex-basis: 35%;
  height: 100%;
  
}
a, u {
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.members{
  padding-bottom: 10px;
  color: #141468;
}

.group-title{
  font-size: 12px;
  color: #66666a;
  font-weight: 600;
  padding-bottom: 10px;
}


.bottom-cntr{
  display: flex;
  height: 40px;
  background: #00243d; 
  font-size: 13px;
  color: #c4c4cb;
  align-items: center;
  padding: 0 15px 0 15px;
}
.group-title-foot{
  font-size: 12px;
  /* color: #66666a; */
  font-weight: 600;
  padding-right: 10px;

}
.members-foot{
  /* padding-bottom: 10px; */
  /* color: #141468; */
  padding-right: 5px;
}